header.bg-color-sicurezza {
    background-color: #5865f2;
}

.security-menu {
    width: 100%;
}

.container {
    max-width: 1150px;
}

.menu-arrow {
    font-size: 1rem;
}

.menu-item {
    cursor: pointer;
    padding: 1rem 1rem;
    border-bottom: 1px solid #8e93cd;
}

.menu-item.first-menu-item {
    border-bottom: 1px solid white;
}

header .container.padding-tb-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bold-title {
    font-weight: 800;
    font-size: 65px;
    text-align: center;
}

header p {
    padding-bottom: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;
}

.col.half-width {
    width: 50%;
}

.col.half-width img {
    width: 100%
}

main p {
    padding-bottom: 1rem;
    padding-right: 1rem;
    line-height: 1.8rem;
}

.flex-gutter-large {
    gap: 12rem;
}

main h4 {
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 2.5rem;
}

.flex-column {
    flex-direction: column;
}

.small-col {
    max-width: 350px;
}

main li {
    list-style-type: none;
    line-height: 3rem;
}

main ul {
    padding-top: 2rem;
}

main li a {
    text-decoration: none;
    color: #00b0f4;
    font-size: 1.3rem;
}

main li a:hover {
    text-decoration: underline;
}