* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: white;
}

/* Header Classes */

header {
    background-color: rgb(49, 97, 224);
}

header .container {
    padding: 1rem;
}

header li {
    list-style-type: none;
}

header li a {
    padding: 0 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

.bg-jumbo {
    background-color: rgb(49, 97, 224);
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-content {
    text-align: center;
    padding: 3rem 7rem;
    min-height: 550px;
}

.main-content h1 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 2.8rem;
}

.main-content p {
    line-height: 1.8rem;
    padding-bottom: 2rem;
}

.arrow {
    margin-right: 0.5rem;
    font-size: 16px;
}
/* Main Classes */

.section-img {
    width: 500px;
}

main {
    color: black;
}

main h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

main p {
    line-height: 1.5rem;
}

/* Utilities Classes */
.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.padding-tb-large{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* Flex classes */

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.padding-right {
    padding-right: 5rem;
}

.flex-align-center {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-gutter {
    gap: 2rem;
}

.col {
    flex-grow: 1;
}

.col-large {
    flex-grow: 2;
}

/* Buttons classes */

.btn {
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    font-size: 0.9rem;
}

.btn-small {
    font-size: .7rem;
    padding: 0.5rem 0.7em;
}

.btn-white {
    background-color: rgb(252, 250, 246);
    color: black;
}

.btn-black {
    background-color: rgb(42, 45, 44);
    color: white;
}


/* Footer Classes */