* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: white;
}

/* Header Classes */

header {
    background-color: #275EE9;
}

header .container {
    padding: 1rem;
}

header li {
    list-style-type: none;
}

header li a {
    padding: 0 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
}

.bg-jumbo {
    background-color: rgb(49, 97, 224);
    background-image: url("../img/jumbo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-content {
    text-align: center;
    padding: 3rem 7rem;
    min-height: 550px;
}

.main-content h1 {
    padding-top: 2rem;
    padding-bottom: 3rem;
    font-size: 2.8rem;
}

.main-content p {
    line-height: 1.8rem;
    padding-bottom: 2rem;
}

.arrow {
    margin-right: 0.5rem;
    font-size: 0.9rem;
}
/* Main Classes */

.section-img {
    width: 500px;
}

.large-img {
    width: 100%;
}

main {
    color: black;
}

main h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

main h4 {
    font-size: 1.4rem;
}

main p {
    line-height: 1.5rem;
}

.bg-gray {
    background-color: rgb(246, 246, 246);
}

.bg-star {
    justify-content: center;
    align-items: center;
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    min-height: 90px;
    max-width: 550px;
    margin: auto;
    text-align: center;
}

/* Utilities Classes */
.container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.padding-tb-large{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.padding-tb-medium {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-right {
    padding-right: 5rem;
}

.text-center {
    text-align: center;
}

/* Flex classes */

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-align-center {
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.space-bet {
    justify-content: space-between;
}

.flex-gutter {
    gap: 2rem;
}

.col {
    flex-grow: 1;
}

.col-large {
    flex-grow: 2;
}

/* Buttons classes */

.btn {
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    border: none;
    font-size: 0.9rem;
}

.btn-small {
    font-size: .7rem;
    padding: 0.5rem 0.7em;
}

.btn-white {
    background-color: rgb(252, 250, 246);
    color: black;
}

.btn-black {
    background-color: rgb(42, 45, 44);
    color: white;
}

.btn-lilla {
    background-color: rgb(176, 188, 232);
    color: white;
}

/* Footer Classes */
footer li {
    line-height: 1.4rem;
    font-size: .8rem;
    list-style-type: none;
}

footer h4 {
    font-size: 1.5rem;
    color: rgb(176, 188, 232);
    padding-bottom: 1rem;
}

footer a {
    text-decoration: none;
    color: white;
}

.bg-black {
    background-color: rgb(35, 39, 42);
}

.col-footer-big {
    width: calc(100% / 6 * 2);
}

.col-footer-small {
    width: calc(100% / 6);
}
footer ul li:first-child {
    font-weight: bold;
    color: rgb(176, 188, 232);
}

.footer-logo {
    width: 100px;
}

.lang-select img {
    height: 12px;
}

.lang-select span {
    font-size: 0.7rem;
    line-height: 12px;
    margin-left: 5px;
}

.lang-arrow {
    font-size: 0.6rem;
}

.social {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social i {
    padding-right: 1.5rem;
}